<ion-view view-title="Transactions">
	<ion-floating-button click="preAddingTransaction()" has-footer="false" button-color="#33cd5f" icon="ion-plus" icon-color="#fff" iscentered=true>
	</ion-floating-button>
	<!-- <div class="bar bar-subheader">
    <h2 class="title">This Month</h2>
  </div> -->
  <ion-content class="has-header">
    <ion-list>
    	<div class="card" ng-hide="connectError">
    		<div class="item-text-warp item-divider">
    			<div>
    				<div class="row">
	    				<div class="col">
	    					<p>Debt and loan (income)</p>
	    				</div>
	    			</div>
    				<div class="row">
	    				<div class="col">
	    					<p>Transfer (in out)</p>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="col">
	    					<p>Inflow (income)</p>
	    				</div>
	    			</div>
    				<div class="row">
	    				<div class="col col-75">
		    				<p class="assertive">Outflow (expense)</p>
	    				</div>
	    				<div class="col">
				  			<p class="assertive">- {{total | currency : "RM"}}</p>
				  		</div>
			  		</div>
    			</div>
    		</div>
    	</div>
      <div class="card" ng-repeat="transaction in transactions | orderBy : 'date'">
			  <div class="item item-text-wrap item-divider">
			  	<div class="row nopadding">
			  		<div class="col col-10 nopadding-topBottom">
			  			<p>{{::transaction.date_transaction | shortDateFormat}}</p>
			  		</div>
			  		<div class="col nopadding-topBottom">
			  			<p>{{::transaction.date_transaction | stringDateFormat}}</p>
							<p>{{::transaction.date_transaction | monthYearFormat}}</p>
			  		</div>
			  		<div class="col nopadding">
			  			<p style="float: right">- {{::transaction.total | currency : "RM"}}</p>
			  		</div>
			  	</div>
			    
			    
			  </div>
			  <div class="item item-text-wrap item-icon-left" ng-repeat="item in singleTransaction	">
			  	<i class="icon ion-ios-telephone"></i>
			   	{{item.parent_category}}
			   	<p style="float: right"> {{ item.value | currency : "RM"}}</p>
			  </div>
			</div>
    </ion-list>
  </ion-content>
</ion-view>



<!-- Add Transaction Modal -->
<script id="add-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
    	<button class="button button-icon icon ion-navicon"></button>
      <h1 class="title">Add transaction</h1>
      <button class="button button-assertive" ng-click="closeModal()">Cancel</button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
			  <label class="item item-input">
			    <span class="input-label">Value</span>
			    <input type="number" ng-model="transaction.value" value="{{transaction.value}}">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Category</span>
			    <input type="text" ng-model="transaction.category" >
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Date</span>
			    <input type="date" ng-model="transaction.date" >
			  </label>
			</div>
			<div class="row">
				<button class="button button-full button-positive" ng-click="addTransaction(transaction)">
				  Add Transaction
				</button>
			</div>
    </ion-content>
  </ion-modal-view>
</script>